<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body class="body-bg">

<header th:replace="layout/layout :: header"></header>

<div class="mx-5 my-3" th:include="layout/return_button::return_button"></div>

<div>
    <div class="container shadow-lg p-3 mb-5 bg-light rounded">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color: #1c3852;color: #b6d4fe;width: 100px">
                        <th scope="col" colspan="4" class="text-center fst-italic"><h3>Información de la tarea</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <th scope="col" colspan="4" class="text-center text-uppercase">Descripción</th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="4"><span th:text="${taskData.description}"></span></td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="2" class="text-center text-uppercase">Fecha inicial</th>
                        <th scope="col" colspan="2" class="text-center text-uppercase">Fecha final</th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="2"><span th:text="${taskData.initialDate}"></span></td>
                        <td class="text-center" colspan="2"><span th:text="${taskData.finalDate}"></span></td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="4" class="text-center text-uppercase">Asignado por</th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="4"><span th:text="${taskData.assignedForName}"></span></td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="col" colspan="2" class="text-center text-uppercase">Progreso</th>
                        <th scope="col" colspan="2" class="text-center text-uppercase">Estado</th>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="2" th:text="${taskData.progress + ' %'}"></td>
                        <td class="text-center bg-success" colspan="2" th:if="${taskData.finished}">Finalizado</td>
                        <td class="text-center bg-warning" colspan="2" th:if="${!taskData.finished}">En proceso</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container shadow-lg p-3 mb-5 bg-light rounded bg-secondary">

        <div class="row g-2 mb-2">
            <div class="col-md">
                <div class="form-floating">
                    <em class="fw-bold">Obervaciones</em>
                    <p class="form-control" style="height: 100px" th:text="${taskData.observation}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container shadow-lg p-3 mb-5 bg-light rounded bg-secondary">

        <div class="alert alert-danger text-uppercase" th:if="${evidenceDataList.size() == 0}">No hay evidencia para esta tarea por el momento!</div>

        <table class="table table-bordered table-hover" th:if="${evidenceDataList.size() > 0}">
            <thead>
            <tr style="background-color: #1c3852;color: #b6d4fe;width: 100px">
                <th scope="col" colspan="6" class="text-center fst-italic"><h3>Evidencias de la tarea</h3></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-primary">
                <th scope="col" class="text-center text-uppercase">#</th>
                <th scope="col" class="text-center text-uppercase">Fecha y hora de creación</th>
                <th scope="col" class="text-center text-uppercase">Progreso reportado</th>
                <th scope="col" class="text-center text-uppercase">Creada por</th>
                <th scope="col" class="text-center text-uppercase">Estado</th>
                <th scope="col" class="text-center text-uppercase">Revisar</th>
            </tr>
            <tr th:each="evidence,state: ${evidenceDataList}">
                <td class="text-center"><span th:text="${state.count}"></span></td>
                <td class="text-center"><span th:text="${evidence.uploadedAt}"></span></td>
                <td class="text-center"><span th:text="${evidence.progress + ' %'}"></span></td>
                <td class="text-center"><span th:text="${evidence.createdByName}"></span></td>
                <td class="text-center bg-success" th:if="${evidence.approved.equals('A')}">Aprobada</td>
                <td class="text-center bg-danger" th:if="${evidence.approved.equals('N')}">No aprobada</td>
                <td class="text-center bg-warning" th:if="${evidence.approved.equals('P')}">Pendiente de aprobación</td>
                <td class="text-center">
                    <a th:href="@{'/evidence/get/' + ${evidence.id}}">
                        <img th:src="@{/images/ic-40.png}" alt="lupa" height="32px" width="32px">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <button th:if="${!taskData.finished}" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#evidenceFormModal" sec:authorize="hasRole('ROLE_OPERATOR')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Agregar evidencia
        </button>
    </div>

</div>

<!--modal-->
<div class="modal fade" id="evidenceFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="evidenceFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1c3852">
                <h5 class="modal-title" id="evidenceFormModalLabel" style="color: #b6d4fe">Crear nueva evidencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark">
                <div class="container py-1 shadow-lg rounded" th:include="/evidence/create_evidence_form::create_evidence_form" style="background-color: #ceddf6"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/messages_es.js}"></script>
<script th:src="@{/js/form-validation.js}"></script>

</body>
</html>