<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body class="body-bg">
<header th:replace="layout/layout :: header"></header>
<div class="mx-5 my-3">
    <a th:href="@{'/'}" class="btn btn-secondary mx-0 float-right">Regresar</a>
</div>

<div class="container shadow p-3 mb-5 rounded">
    <h3 class="text-center fst-italic text-white">Crear nuevo empleado</h3>
    <form th:action="@{/employee/save}" id="wizard" method="post">
        <div class="row g-2 mb-2 animate__animated animate__fadeIn">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="idDocument" name="idDocument" placeholder="N° Documento de identidad *">
                    <label for="idDocument">N° Documento de identidad *</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombres *">
                    <label for="name">Nombres *</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-2 animate__animated animate__fadeIn">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellidos *">
                    <label for="lastName">Apellidos *</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Correo Electrónico *">
                    <label for="email">Correo Electrónico *</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-2 animate__animated animate__fadeIn">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Teléfono *">
                    <label for="telephone">Teléfono *</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña *">
                    <label for="password">Contraseña *</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-2 animate__animated animate__fadeIn">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select input-centered" id="fkRole" name="fkRole" aria-label="fkRole">
                        <option value="">-- Seleccione --</option>
                        <option th:each="item: ${roles}" th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                    <label for="fkRole">Cargo del empleado *</label>
                </div>
            </div>
            <p class="text-white">(*) Obligatorio</p>
        </div>
        <div class="text-center mt-4">
            <button th:type="submit" class="btn btn-primary animate__animated animate__bounceInDown">Guardar empleado</button>
        </div>
    </form>
</div>


<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/messages_es.js}"></script>
<script th:src="@{/js/form-validation.js}"></script>

</body>
</html>