<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body class="body-bg">
<header th:replace="layout/layout :: header"></header>
<div class="mx-5 my-3">
    <a th:href="@{'/'}" class="btn btn-secondary mx-0 float-right">Regresar</a>
</div>

<div class="container shadow p-3 mb-5 rounded">
    <h3 class="text-center fst-italic">Lista de empleados</h3>
    <table class="table table-dark table-bordered border-white table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">N° documento</th>
                <th class="text-center">Nombres</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Email</th>
                <th class="text-center">Cargo</th>
            </tr>
        </thead>
        <tbody>
        <tr class="table-active" th:each="employee,state: ${employeeDataList}">
            <td class="text-center" th:text="${state.count}"></td>
            <td class="text-center" th:text="${employee.documentId}"></td>
            <td class="text-center" th:text="${employee.name}"></td>
            <td class="text-center" th:text="${employee.lastName}"></td>
            <td class="text-center" th:text="${employee.telephone}"></td>
            <td class="text-center" th:text="${employee.email}"></td>
            <td class="text-center" th:text="${employee.roleName}"></td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/messages_es.js}"></script>
<script th:src="@{/js/form-validation.js}"></script>

</body>
</html>