<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body class="body-bg">
<header th:replace="layout/layout :: header"></header>

<div class="mx-5 my-3" th:include="layout/return_button::return_button"></div>


<div class="container shadow p-3 mb-5 rounded">
    <h3 class="text-center fst-italic">Lista de áreas de trabajo</h3>
    <table class="table table-dark table-bordered border-white table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Jefe encargado</th>
                <th class="text-center">Objetivos</th>
            </tr>
        </thead>
        <tbody>
        <tr class="table-active" th:each="area,state: ${workingAreaDataList}">
            <td class="text-center" th:text="${state.count}"></td>
            <td class="text-center" th:text="${area.name}"></td>
            <td class="text-center" th:text="${area.bossName}"></td>
            <td class="text-center">
                <a th:href="@{'/goal/by/' + ${area.id}}">
                    <img th:src="@{/images/ic-40.png}" alt="lupa" height="32px" width="32px">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>